.footer{
    width: 100%;
    padding: 1em;
    background: blue;
    display: flex;
    align-self: flex-end;
}

.footer__text{
    color: white;
    margin: auto;
}

.footer__text::before{
    content: "©";
}